article.tweet {
  background-color: $light-grey;
  border: 0.4px solid $grey;
  border-radius: 6px;
  cursor: pointer;
  margin: 2em;
  opacity: 0.7;
  overflow: hidden;
  padding: 1px 8px;
  transition: 300ms;
}

article.tweet:hover {
  border: 0.4px solid $mid-grey;
  -webkit-box-shadow: 0px 5px 20px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 20px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 5px 20px -8px rgba(0,0,0,0.75);
  opacity: 1;
  transition: 300ms;
  transform: scale(1.009);
}

nav.icons {
  color: #00a087;
  float: right;
  opacity: 0;
  transition: 300ms;
}

nav.icons .fa {
  padding-left: 6px;
  transition: 300ms;
  z-index: 10;
}

i.fa-heart:hover {
  transition: 300ms;
  transform: scale(1.3)
}


article.tweet:hover .icons {
  opacity: 1;
  transition: 300ms;
}

article.tweet header {
  background-color: $light-grey;
  padding: 6px 0px;
}

article.tweet header img {
  border-radius: 6px;
}

article.tweet h2 {
  display: inline;
  line-height: 1px;
  padding-bottom: 1em;
  padding-left: 10px;
  position: relative;
  top: -30px;
}

article.tweet p {
  background-color: white;
  margin: 0px -8px;
  padding: 14px 14px;
}

article.tweet header h6 {
  float: right;
  margin-top: 16px;
  top: 0;
}
article.tweet footer {
  border-top: 1px solid $grey;
  background-color: white;
  margin: -1px -8px;
  padding: 5px 8px;
}

sup {
  padding-left: 3px;
}
